<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#6ffa6c">

        <link href="/static/styles/bootstrap.min.css" rel="stylesheet">
        <link href="/static/styles/style.css" rel="stylesheet">
        <link href="/static/ctfLogo.png" rel="icon">
       
        <style>
            .myDiv {
                background-color: slategray;
            }
        </style>
</head>

        <title>{% block title %}{% endblock %} | {{ CLUB_NAME }}</title>

        {% block preload %}{% endblock %}

    </head>
    <body>
       

        <main class="container">
            {% with msg = get_flashed_messages(with_categories=True) %}
                {% if msg %}
                    {% for category, message in msg %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show"
                             role="alert">
                            {{ message }}
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block main %}{% endblock %}
        </main>
        <footer>
            <hr>
            <p class="text-center">
                &copy; 2022-2023, {{ CLUB_NAME }}.
                <a href="/terms">Terms of Service</a> -
                <a href="/privacy">Privacy Policy</a>
            </p>
        </footer>

        <script src="/assets/js/nav.js"></script>
        <script src="/assets/js/showdown.min.js"></script>
        <script src="/assets/js/purify.min.js"></script>
        <script src="/assets/js/convertMD.js"></script>
        {% block script %}{% endblock %}
        <script src="/assets/js/seeMore.js"></script>
        <script src="/assets/js/newPagination.js"></script>
        <script src="/assets/js/dateConvert.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>